@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
   background-color: rgb(237, 242, 244);
}

.myfile {
  opacity: 0;
  margin-top: 2%;
  margin-bottom: 3%;
}

.title_instruciones {
  margin-top: 3%;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
}

.label_instruciones {
  text-align: center;
  font-style: normal;
  font-weight: 400;
}

.material-icons { 
  font-size: 36px;
  text-align: left;
  padding-top: 18px;
  padding-left: 8px;
  padding-right: 4px;
  float: left;
  color: rgb(43, 45, 66);
}

.input_button {
  width: 10%;
  margin-left: 44.7%;
}

.input_label {
  width: 20%;
  text-align: center;
  font-size: 20px;
  margin-left: 40%;
  background-color: rgb(239, 35, 60); 
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: whitesmoke;
}

.input_title {
  margin-top: 2%;
  margin-left: 37%;
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgb(239, 35, 60);
}

.sidenav {
  height: 100%; 
  width: 10%; 
  position: fixed; 
  z-index: 1; 
  top: 78px; 
  left: 0;
  background-color: rgb(239, 35, 60); 
  overflow-x: hidden; 
  padding-top: 10px; 
  transition: 0.5s; 
}

.sidenav a {
  padding: 16px 16px 8px 16px;
  text-decoration: None;
  text-align: left;
  font-size: 16px;
  color: whitesmoke;
  display: block;
  transition: 0.3s;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.sidenav a:hover {
  background-color: rgb(216, 0, 50);
  color: whitesmoke;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
}

.sidenav label {
  font-weight: 400;
  font-size: 16px;
  margin-top: 10%;
  margin-left: 10%;
  font-family: 'Oswald', sans-serif;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.material-icons.md-48 { 
  font-size: 48px; 
}

.main{
  padding: 0px 10px;
  margin-left: 11%;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}