{% load static %}

<div id="mySidenav" class="sidenav">
	<div class="sidebar_element">
		<div>
			<span class="material-icons">home</span>
		</div>

		<div>
	 		<a href="/dados">Datos generales</a>
	 	</div>
	</div>

	<div class="sidebar_element">
		<div>
			<span class="material-icons">search</span>
		</div>
		<div>
	 		<a href="/consulta">Consulta de datos</a>
	 	</div>
	</div>

	<div class="sidebar_element">
		<div>
			<span class="material-icons">upload</span>
		</div>
		<div>
	 		<a href="/insertar">Insertar datos</a>
	 	</div>
	</div>

</div>